extends layout

block content
    h1= title
    h2(class="topText") Welcome to BETTERCHATROOM
    div(class= "col")
        div(class="form" id="login")
            p(class="subhead") LOGIN
            input(type="text" name="usrn" placeholder="Username")
            input(type="text" name="pwd" placeholder="Password")
            label(for="submit")
                button(onclick="login()") Submit

    div(class= "col")
        div(class="form" id="register")
            p(class="subhead") REGISTER 
            input(type="text" name="fName" placeholder="First Name")
            input(type="text" name="lName" placeholder="Last Name") 
            input(type="text" name="age" placeholder="Age")
            input(type="text" name="usrn" placeholder="Username")
            input(type="password" name="pwd" id="pw1" placeholder="Password")
            input(type="password" name="pwd2" id="pw2" placeholder="Confirm Password")
            label(for="submit")
                button(onclick="register()") Submit


    link(href="stylesheets/forms.css" rel="stylesheet")
    script(src="javascript/forms.js")
    script(src="javascript/index.js")
    
