
extends layout

block content
    //theres lots to do, but first, we program the hard bois

    div(id="chatroom-cont")
        div(id="welcome")
            h1 Welcome to Room No. 1
        div(id="log")
            //messages go here
            p shit"
            a(href="#") thing
        div(id="message-bar")
            input(type="text" class="bar-comp" name="message" placeholder="Type Message Here...")
            button(class="bar-comp") SEND


    link(href="stylesheets/style.css" rel="stylesheet")