
extends layout

block content
    //theres lots to do, but first, we program the hard bois

    div(id="chatroom-cont")
        div(id="welcome")
            h1 Welcome to Room No. 1
        div(id="log")
            //messages go here
            //- p shit"
            //- a(href="#") thing
        div(id="message-bar")
            input(type="text" class="bar-comp" name="message" placeholder="Type Message Here..." id ="inputBar")
            input(type="file" id="fileInput" name="Attach File")
            button(class="bar-comp" onclick="sendMsg()") SEND


    //just tesdting a thing
    //- button(onclick="sendTxt('THIS IS A TEST MESAGE')") send test msg

    //link(href="stylesheets/style.css" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js")
    script(src="javascript/socket.io-client/dist/socket.io.js")
    script(src="javascript/messages.js")