body {
  padding: 30px 50px;
  font: 16px "Consolas", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #00B7FF;
}

button:hover{
  cursor: pointer;
}

.topText {
  text-align: center;
}

#chatroom-cont{
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#welcome {
  flex-basis: auto;
}

#log {
  border: 2px solid white;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 0 2vh 0;
  padding: 0 2vh;
  height: 100%;
}

#message-bar{
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
}

#message-bar input{
  font: inherit;
  background-color: black;
  color: white;
  padding: 1vh;
  width: 100%;
  border: solid 2px white;
}

#message-bar button{
  flex-basis: auto;
  padding: 0 2vh;
  background-color: white;
  border: solid 2px white;
  font: inherit;
}


//DASHBOARD
#dashboard-cont{
  margin: 0 auto;
  width: min-content;
  text-align: center;
}

#dashboard-cont > *{
  width: max-content;
}

#dashboard-cont > div{
  margin: 4vh auto;
}

#room-input{
  display: flex;
  flex-direction: row;
}

#room-input > *{
  width: max-content;
  font: inherit;
}

#room-input input{
  background-color: black;
  color: white;
  border: solid 2px white;
  padding: 1vh;
}

#room-input button{
  background-color: white;
  border: solid 2px white;
  color: black;
}

