div.form-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10vh 0; }

div.form {
  width: 35%;
  display: flex;
  padding: 3vh 0;
  flex-direction: column; }

div.form > p {
  text-align: center; }

div.form input {
  width: 80%;
  background-color: black;
  border: none;
  border-bottom: 2px solid gainsboro;
  padding: 1vh;
  margin: 0 auto 3% auto;
  color: white;
  font: 16px "Consolas", Helvetica, Arial, sans-serif; }

div.form input:focus {
  border-bottom: 3px solid white; }

div.form button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: black;
  padding: 1vh;
  border: none;
  font: inherit; }

div.form button:hover {
  background-color: white;
  color: black;
  cursor: pointer; }

div#register {
  border: 1px solid white; }
